<section class="main">
  <app-input [itemQueVaiSerEditado]="ItemParaSerEditado">
  </app-input>
  <div class="container">
    <div class="lista">
      <h4 class="title-list">Lista de Compras</h4>
      <div *ngIf="ListaDeCompra.length != 0 ; else naoTemItem">


      <div *ngFor="let item of ListaDeCompra">
        <app-item [item]="item" (emitindoItemParaEditar)="editarItem($event)"
                                (emitindoIdParaDeletar)="deletarItem($event)"></app-item>
      </div>
    </div>
    <ng-template #naoTemItem>
      <small>Não tem item na lista.</small>
    </ng-template>
    </div>
  </div>
</section>
